mat-toolbar {
    mat-icon {
        margin: 0px 15px;
        color: #6D8299;
        cursor: pointer;
    }

    .search-input {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}
