<div class="container">
  <google-map
    class="map"
    #googleMap
    height="500px"
    width="100%"
    [zoom]="zoom"
    [center]="coords"
    [options]="options"
  >
    <div id="map"></div>
    <map-marker
      #markerElem="mapMarker"
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label"
      [title]="marker.title"
      [options]="marker.options"
      (mapClick)="openInfo(markerElem, marker.info)"
    >
    </map-marker>
    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>
</div>
