$navy: #0f172a;
$aqua: #6D8299;
$black:#000000;
$white:#ffffff;
$red:#fe0000;
$blue: #736fd7;
$grey: #b5b5bc;

$pixel_5: 5px;
$pixel_10: 10px;
$pixel_15: 15px;
$pixel_20: 20px;
$pixel_25: 25px;
$pixel_30: 30px;
$pixel_100: 100px;

$percent_100: 100%;
$percent_125: 125%;
