<div class="navbar">
  <div class="menu">
    <div class="menu-head">
      <span>Dashboard</span>
    </div>
    <div class="menu-item">
      <button
        mat-button
        class="menu-button"
        routerLink="/home"
        routerLinkActive="active"
      >
        <mat-icon>map</mat-icon>
        <span>Home</span>
      </button>
      <button
        mat-button
        class="menu-button"
        routerLink="/station"
        routerLinkActive="active"
      >
        <mat-icon> local_gas_station</mat-icon>
        <span>Station</span>
      </button>
      <button
        mat-button
        class="menu-button"
        routerLink="/home"
        routerLinkActive="active"
      >
        <mat-icon>group</mat-icon>
        <span>About us</span>
      </button>
      <button
        mat-button
        class="menu-button"
        routerLink="/test"
        routerLinkActive="active"
      >
        <mat-icon>contacts</mat-icon>
        <span>Contact</span>
      </button>
    </div>
  </div>
</div>
